<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>State</key>
		<string>上海市</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>老西门区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>徐家汇区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>天山路区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>静安寺区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>长寿路区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>大宁区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>五角场区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>打浦桥区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>世纪公园区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>人民广场区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>陆家嘴区域</string>
				<key>lat</key>
				<real>39.92</real>
				<key>lon</key>
				<real>116.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>上海南站区域</string>
				<key>lat</key>
				<real>31.22</real>
				<key>lon</key>
				<real>121.48</real>
			</dict>
			<dict>
				<key>city</key>
				<string>古北区域</string>
				<key>lat</key>
				<real>39.13</real>
				<key>lon</key>
				<real>117.2</real>
			</dict>
			<dict>
				<key>city</key>
				<string>和平公园区域</string>
				<key>lat</key>
				<real>29.59</real>
				<key>lon</key>
				<real>106.54</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>北京</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>西城区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>东城区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>海淀区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>朝阳区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>丰台区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>房山区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>昌平区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>石景山区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>门头沟区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>顺义区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>平谷区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>大兴区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>通州区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>怀柔区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>密云区</string>
				<key>lat</key>
				<real>22.2</real>
				<key>lon</key>
				<real>114.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>延庆区</string>
				<key>lat</key>
				<real>22.13</real>
				<key>lon</key>
				<real>113.33</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>广州</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>越秀区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>海珠区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>荔湾区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>天河区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>白云区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>黄浦区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>花都区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>番禺区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>萝岗区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>南沙区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>开发区</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>花都县</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>增城县</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>从化县</string>
				<key>lat</key>
				<real>25.05</real>
				<key>lon</key>
				<real>121.5</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>深圳</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>福田区</string>
				<key>lat</key>
				<real>32.54</real>
				<key>lon</key>
				<real>115.48</real>
			</dict>
			<dict>
				<key>city</key>
				<string>罗湖区</string>
				<key>lat</key>
				<real>33.97</real>
				<key>lon</key>
				<real>116.77</real>
			</dict>
			<dict>
				<key>city</key>
				<string>南山区</string>
				<key>lat</key>
				<real>32.62</real>
				<key>lon</key>
				<real>116.98</real>
			</dict>
			<dict>
				<key>city</key>
				<string>盐田区</string>
				<key>lat</key>
				<real>29.43</real>
				<key>lon</key>
				<real>118.18</real>
			</dict>
			<dict>
				<key>city</key>
				<string>宝安区</string>
				<key>lat</key>
				<real>31.73</real>
				<key>lon</key>
				<real>116.49</real>
			</dict>
			<dict>
				<key>city</key>
				<string>龙岗区</string>
				<key>lat</key>
				<real>31.56</real>
				<key>lon</key>
				<real>118.48</real>
			</dict>
			<dict>
				<key>city</key>
				<string>光明新区</string>
				<key>lat</key>
				<real>33.63</real>
				<key>lon</key>
				<real>116.97</real>
			</dict>
			<dict>
				<key>city</key>
				<string>坪山新区</string>
				<key>lat</key>
				<real>30.93</real>
				<key>lon</key>
				<real>117.82</real>
			</dict>
			<dict>
				<key>city</key>
				<string>龙华新区</string>
				<key>lat</key>
				<real>31.33</real>
				<key>lon</key>
				<real>118.38</real>
			</dict>
			<dict>
				<key>city</key>
				<string>大鹏新区</string>
				<key>lat</key>
				<real>30.57</real>
				<key>lon</key>
				<real>118.44</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>杭州</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>武林广场区域</string>
				<key>lat</key>
				<real>26.65</real>
				<key>lon</key>
				<real>118.16</real>
			</dict>
			<dict>
				<key>city</key>
				<string>和平广场区域</string>
				<key>lat</key>
				<real>26.65</real>
				<key>lon</key>
				<real>119.52</real>
			</dict>
			<dict>
				<key>city</key>
				<string>城站区域</string>
				<key>lat</key>
				<real>25.44</real>
				<key>lon</key>
				<real>119.01</real>
			</dict>
			<dict>
				<key>city</key>
				<string>西湖申花区域</string>
				<key>lat</key>
				<real>24.93</real>
				<key>lon</key>
				<real>118.58</real>
			</dict>
			<dict>
				<key>city</key>
				<string>滨江长河区域</string>
				<key>lat</key>
				<real>26.23</real>
				<key>lon</key>
				<real>117.61</real>
			</dict>
			<dict>
				<key>city</key>
				<string>滨江星光大道区域</string>
				<key>lat</key>
				<real>24.46</real>
				<key>lon</key>
				<real>118.1</real>
			</dict>
			<dict>
				<key>city</key>
				<string>江干太平门直街区域</string>
				<key>lat</key>
				<real>24.52</real>
				<key>lon</key>
				<real>117.35</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>苏州</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>园区湖东邻里区域</string>
				<key>lat</key>
				<real>36.03</real>
				<key>lon</key>
				<real>103.73</real>
			</dict>
			<dict>
				<key>city</key>
				<string>园区星海广场区域</string>
				<key>lat</key>
				<real>36.54</real>
				<key>lon</key>
				<real>104.12</real>
			</dict>
			<dict>
				<key>city</key>
				<string>园区玲珑湾区域</string>
				<key>lat</key>
				<real>39.71</real>
				<key>lon</key>
				<real>98.5</real>
			</dict>
			<dict>
				<key>city</key>
				<string>吴中商城区域</string>
				<key>lat</key>
				<real>35.51</real>
				<key>lon</key>
				<real>106.68</real>
			</dict>
			<dict>
				<key>city</key>
				<string>新区苏州乐园区域</string>
				<key>lat</key>
				<real>34.6</real>
				<key>lon</key>
				<real>105.69</real>
			</dict>
			<dict>
				<key>city</key>
				<string>相城城区区域</string>
				<key>lat</key>
				<real>37.94</real>
				<key>lon</key>
				<real>102.61</real>
			</dict>
			<dict>
				<key>city</key>
				<string>吴中龙西区域</string>
				<key>lat</key>
				<real>38.93</real>
				<key>lon</key>
				<real>100.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>东环永林区域</string>
				<key>lat</key>
				<real>38.93</real>
				<key>lon</key>
				<real>100.46</real>
			</dict>
			<dict>
				<key>city</key>
				<string>南环南园区域</string>
				<key>lat</key>
				<real>38.93</real>
				<key>lon</key>
				<real>100.46</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
